*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header{
    height: 80vh;
    width: 100vw;
    background-image: linear-gradient(to right, #766eff, #87f1ff);
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    padding: 4vw;
}

#logo{
    font-size: 3vw;
    color: white;
    font-weight: bold;
}

.headerswords input[type="button"]{
    color: white;
    margin-right: 3vw;
    background-color: transparent;
    border: none;
    font-weight: 800;
}

.workingarea{
    background-color: red;
    width: 80vw;
    height: 80vh;
    position: absolute;
    bottom: 0;
    margin: 0px 10vw;
    border-top-right-radius: 1.5vw;
    border-top-left-radius: 1.5vw;
    box-shadow: .5vw 1.5vh 1.5vw black;
}