*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#header{
    height: 80vh;
    width: 100vw;
    background-image: linear-gradient(to right, #766eff, #87f1ff);
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    padding: 4vw;
}

#logo{
    font-size: 3vw;
    color: white;
    font-weight: bold;
}